.center {
    text-align: center;
}

#ulfirst{
    list-style-position: inside;
}

h1{
    color: red;
}

h2 {
    color: purple;
}


h3 {
    color: #FFBD35;
}

.imgone {
    height: 160px;
    height: 300px;
}
#articleimg {
    text-align: center;
}

.sıralama {
    margin-right: 300px;
}